
<h3>Team @Model.Team.Name</h3>
<br />
<h6>Team Details</h6>
<div class="column">
    <div >
        <span class="input-group-addon" style="font-weight:bold">City: </span>
        @Model.Team.City
    </div>
    <div >
        <span class="input-group-addon" style="font-weight:bold">Stadium: </span>
        @Model.Team.Stadium
    </div>
    <div >
        <span class="input-group-addon " style="font-weight:bold">Year of Establishment: </span>
        @Model.Team.YearOfEstablishment
    </div>
    <div >
        <span class="input-group-addon" style="font-weight:bold">History: </span>
        @Model.Team.History
    </div>

</div>


